
.smart_reader_item {
	background: lightgrey;
	padding: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.smart_reader_item_title {
	font-weight: bold;
}

.smart_reader_act_title {
	background: lightgrey;
	padding: 5px;
}

.smart_reader_success_message {
	color: green;
}